<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  <script type="text/javascript" src= "js/jquery.js"></script>
  <script type="text/javascript" src= "js/bootstrap.min.js"></script>
  <!--<script type="text/javascript" src= "js/particle.js"></script>-->
  <script type="text/javascript" src= "js/jquery.mixitup.js"></script>
  <script type="text/javascript" src= "js/jquery.ripple.js"></script>
  <script type="text/javascript" src= "js/Chart.js"></script>
  <script type="text/javascript" src= "js/app.js"></script>
  <script>
$(document).ready(function() {
  try {
    $('#home').ripples({
      resolution: 512,
      dropRadius: 20, //px
      perturbance: 0.04,
    });
    $('main').ripples({
      resolution: 128,
      dropRadius: 10, //px
      perturbance: 0.04,
      interactive: false
    });
  }
  catch (e) {
    $('.error').show().text(e);
  }
  $('.js-ripples-disable').on('click', function() {
    $('body, main').ripples('destroy');
    $(this).hide();
  });
  $('.js-ripples-play').on('click', function() {
    $('body, main').ripples('play');
  });
  $('.js-ripples-pause').on('click', function() {
    $('body, main').ripples('pause');
  });
  // Automatic drops
  setInterval(function() {
    var $el = $('main');
    var x = Math.random() * $el.outerWidth();
    var y = Math.random() * $el.outerHeight();
    var dropRadius = 20;
    var strength = 0.04 + Math.random() * 0.04;
    $el.ripples('drop', x, y, dropRadius, strength);
  }, 400);
});
</script>


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
