#contact {
  background-image: url('../images/contact-footer.png');
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position: bottom center;
  
  color:#fff;
  background-color: #757571;
  position:relative;
  height:70vh;
  border-top:3px solid #464542;
  h1 {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom:1.5em; 
    margin:0;
  }

  .form-control-custom {
    width:100%;

  }

  .btn-custom {
    width:40%
  }

  .form-con {
    position:absolute;
    left:20em;
    width:40em;
  }

  .icon-custom {
    position:absolute;
    left:40em;
    bottom:1em;
  }
}