#project {

  background-color: #464542;
  // padding-bottom: 10em;
  height:100vh;

  h2 {
    text-align: center;
    color:#fff;
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
  }

  p {
    text-align: center;
    font-size : 1.5em;
    color :#fff;
  }

  ul {

    margin-left: 10em;
    padding-top :2em;
    
    li {

      text-transform: uppercase;
      text-decoration:none;
      display: inline;
      margin-right:4em;


      a {

        color:#fff;
        font-size:1.3em;

        &:hover {
          text-decoration: none;
        }
      }

    }

  }

  .project-row-custom {
    margin-top :2em;
  }

  #project-ul-custom .mix{
    display: none;
  }

  .col-sm-custom {
    
  }
}
